.downloads {
  width: 200px;
  margin: 0 auto;
}
.downloads a {
  font-size: 0.3em;
  display: block;
  text-decoration: none;
}
.downloads a span {
  font-size: 0.4em;
}
.downloads .min {
  margin: 0.4em 0 0.2em;
  border: 1px solid #549974;
  padding: 0.3em;
  font-size: 0.6em;
}
.downloads .min:hover {
  background: #E7F7EE;
}
.downloads .min:active {
  background: white;
}
.themes {
  text-align: center;
}
.themes a {
  font-size: 0.8em;
}
.themes > div {
  display: inline-block;
  width: 46%;
  max-width: 28%;
  min-width: 240px;
  margin: 2%;
  box-shadow: 0 0 0 1px #549974;
}
.themes > div > div {
  height: 110px;
}
.themes .toggle {
  margin: 22px auto;
  height: 35px;
  width: 110px;
}
.themes > div.toggle-dark > div, .examples.toggle-dark, .themes > div.slider-dark > div, .examples.slider-dark {
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#242529),color-stop(100%,#34363B));
  background: -webkit-linear-gradient(bottom,#242529 0,#34363B 100%);
  background: -moz-linear-gradient(bottom,#242529 0,#34363B 100%);
  background: -ms-linear-gradient(bottom,#242529 0,#34363B 100%);
  background: -o-linear-gradient(bottom,#242529 0,#34363B 100%);
  background: linear-gradient(bottom,#242529 0,#34363B 100%);
}

.themes > div.slider-iphone > div, .examples.slider-iphone {
  background: url(../img/ios-bg.jpg);
}

.examples {
  text-align: center;
  border-radius: 4px;
  padding: 1em;
  font-size: 0.8em;
}
.examples code {
  font-size: 0.8em;
  display: block;
}
.examples .example {
  margin: 1em;
  max-width:450px;
  width: 100%;
  display: inline-block;
}
.example code {
  text-align: center !important;
  margin-top: 0.5em;
}
.examples .toggle {
  margin: 0 auto;
  height: 22px;
  width: 70px;
}
.examples.toggle-dark, .examples.slider-dark {
  color: white;
}
.examples.toggle-iphone .select {
  display: none;
}
.themes h5 {
  background: #E7F7EE;
  line-height: 2em;
}

.themes .slider {
  margin: 32px 20px;
  height: 3px;
  padding: 6px 0;
}

.slider {
  margin: 20px;
}
