.slide {
  overflow: hidden;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.slide .on,.slide .off,.slide .blob {
  float: left;
}
.slide .blob {
  position: relative;
  z-index: 99;
  cursor: hand;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.light .slide {
  border-radius: 5px;
  box-shadow: 0 0 0 1px #999;
}
.light .slide .on,.light .slide .off,.light .slide .blob {
  color: rgba(0, 0, 0, 0.7);
  font-size: 11px;
  text-shadow: 1px 1px white;
}
.light .slide .on {
  background: #d2ff52; /* Old browsers */
  background: -moz-linear-gradient(top,  #d2ff52 0%, #91e842 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d2ff52 0%,#91e842 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */

}
.light .slide .off {
  background: #cfcfcf; /* Old browsers */
  background: -moz-linear-gradient(top,  #cfcfcf 0%, #f5f5f5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cfcfcf 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cfcfcf 0%,#f5f5f5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cfcfcf 0%,#f5f5f5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #cfcfcf 0%,#f5f5f5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}
.light .slide .blob {
  border-radius: 4px;
  background: #cfcfcf; /* Old browsers */
  background: -moz-linear-gradient(top,  #cfcfcf 0%, #f5f5f5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cfcfcf 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cfcfcf 0%,#f5f5f5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cfcfcf 0%,#f5f5f5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #cfcfcf 0%,#f5f5f5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */

  box-shadow: inset 0 0 0 1px #bbb, inset 0 0 0 2px white;
}
.light .slide .blob:hover {
  background: #e4e4e4; /* Old browsers */
  background: -moz-linear-gradient(top,  #e4e4e4 0%, #f9f9f9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e4e4e4 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e4e4e4 0%,#f9f9f9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e4e4e4 0%,#f9f9f9 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e4e4e4 0%,#f9f9f9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */

  box-shadow: inset 0 0 0 1px #ddd,inset 0 0 0 2px #ddd;
}

.dark .slide {
  border-radius: 5px;
  box-shadow: 0 0 0 1px #242529, 0 1px 0 1px #666;
}
.dark .slide .on,.dark .slide .off,.dark .slide .blob {
  color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
}
.dark .slide .on {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1A70BE), color-stop(100%, #31A2E1));
  background: -webkit-linear-gradient(top, #1A70BE 0%, #31A2E1 100%);
  background: -moz-linear-gradient(top, #1A70BE 0%, #31A2E1 100%);
  background: -ms-linear-gradient(top, #1A70BE 0%, #31A2E1 100%);
  background: -o-linear-gradient(top, #1A70BE 0%, #31A2E1 100%);
  background: linear-gradient(top, #1A70BE 0%, #31A2E1 100%);
}
.dark .slide .off {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #242529), color-stop(100%, #34363B));
  background: -webkit-linear-gradient(top, #242529 0%, #34363B 100%);
  background: -moz-linear-gradient(top, #242529 0%, #34363B 100%);
  background: -ms-linear-gradient(top, #242529 0%, #34363B 100%);
  background: -o-linear-gradient(top, #242529 0%, #34363B 100%);
  background: linear-gradient(top, #242529 0%, #34363B 100%);
}
.dark .slide .blob {
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CFCFCF), color-stop(100%, whiteSmoke));
  background: -webkit-linear-gradient(top, #CFCFCF 0%, whiteSmoke 100%);
  background: -moz-linear-gradient(top, #CFCFCF 0%, whiteSmoke 100%);
  background: -ms-linear-gradient(top, #CFCFCF 0%, whiteSmoke 100%);
  background: -o-linear-gradient(top, #CFCFCF 0%, whiteSmoke 100%);
  background: linear-gradient(top, #CFCFCF 0%, whiteSmoke 100%);
  box-shadow: inset 0 0 0 1px #888, inset 0 0 0 2px white;
}
.dark .slide .blob:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b4b4b4), color-stop(100%, #dadada));
  background: -webkit-linear-gradient(top, #c0c0c0 0%, #dadada 100%);
  background: -moz-linear-gradient(top, #c0c0c0 0%, #dadada 100%);
  background: -ms-linear-gradient(top, #c0c0c0 0%, #dadada 100%);
  background: -o-linear-gradient(top, #c0c0c0 0%, #dadada 100%);
  background: linear-gradient(top, #c0c0c0 0%, #dadada 100%);
  box-shadow: inset 0 0 0 1px #888,inset 0 0 0 2px #ddd;
}

.iphone .slide {
  border-radius: 9999px;
  box-shadow: 0 0 0 1px #999;
}
.iphone .slide .on,.iphone .slide .off,.iphone .slide .blob {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.iphone .slide .on {
  border-radius: 9999px 0 0 9999px;
  background: #037bda; /* Old browsers */
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.4);
}
.iphone .slide .off {
  box-shadow: inset -2px 2px 5px rgba(0,0,0,0.4);
  border-radius: 0 9999px 9999px 0;
  color: rgb(130,130,130);
  text-shadow: 0 0 1px white;

}
.iphone .slide .on:after {
  background: #1189f1; /* Old browsers */
  background: -moz-linear-gradient(top,  #1189f1 0%, #3797ef 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1189f1), color-stop(100%,#3797ef)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1189f1 0%,#3797ef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1189f1 0%,#3797ef 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1189f1 0%,#3797ef 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1189f1 0%,#3797ef 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1189f1', endColorstr='#3797ef',GradientType=0 ); /* IE6-9 */
  height: 50%;
  content: '';
  margin-top: -19%;
  display: block;
  border-radius: 9999px;
  margin-left: 10%;
}
.iphone .slide .off {
  background: #ECECEC;
}
.iphone .slide .off:after {
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #fafafa 0%, #fdfdfd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#fdfdfd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fafafa 0%,#fdfdfd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fafafa 0%,#fdfdfd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fafafa 0%,#fdfdfd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fafafa 0%,#fdfdfd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fdfdfd',GradientType=0 ); /* IE6-9 */
  height: 50%;
  content: '';
  margin-top: -19%;
  display: block;
  margin-right: 10%;
  border-radius: 9999px;
}
.iphone .slide .blob {
  border-radius: 50px;
  background: #d1d1d1; /* Old browsers */
  background: -moz-linear-gradient(top,  #d1d1d1 0%, #fafafa 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d1d1d1 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d1d1d1 0%,#fafafa 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d1d1d1 0%,#fafafa 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d1d1d1 0%,#fafafa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.6), inset 0 0 0 2px white, 0 0 3px rgba(0,0,0,0.6);
}