{
	"layout": "base",
	"title": "Home"
}
______

<h2 class="hero">
  <span>Full-stack Engineer</span>
  <span class="amp">&amp;</span>
  <span>Developer</span>
</h2>

<div class="main-list">
  <h3>I like to make things</h3>
  <h4>Especially using...</h4>
  <ul>
    <li>NodeJS</li>
    <li>Javascript</li>
    <li>Chef</li>
    <li>Nginx</li>
    <li>AWS</li>
    <li>HTML/CSS</li>
  </ul>
</div>