<footer>
  <div class="social-buttons">
    <iframe src="https://ghbtns.com/github-btn.html?user=simontabor&amp;type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="138" height="20"></iframe>
    <a href="https://twitter.com/simon_tabor" class="twitter-follow-button" data-show-count="false">Follow @simon_tabor</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
	<p class="copy">&copy; Simon Tabor <%= new Date().getFullYear() %></p>
</footer>
