{
  "layout": "project",
  "title": "Serenity",
  "subtitle": "Simple static site generation and templating",
  "buttons": {
    "github": "serenity",
    "twitter": {
      "url": "/labs/serenity",
      "text": "Serenity: a simple static site generator with EJS templating",
      "hashtags": ["js"]
    },
    "facebook": {
      "url": "/labs/serenity"
    }
  }
}
______

<div class="mid">
  <h4>What is Serenity?</h4>

    <p>Serenity is a node module which allows you to easily work on static sites. It uses a slightly modified version of EJS so it can use Javascript to do calculations so you can host your site on an efficient static server, instead of using pointless PHP includes or something similar.</p>

    <p>It was designed for people who want to use something similar to Jekyll but also provide more detailed error messages, use JSON instead of YAML, use EJS instead of Liquid and be all round more versatile and light. Building websites should be DRY and easy where possible.</p>

  <h4>How do I use Serenity?</h4>

    <p>You'll need node and npm installed. Then simply install Serenity globally: <code>$ npm install -g serenity</code>. Then it's as simple as running: <code>$ serenity</code> in your terminal in the root directory of your website. It'll generate a folder called <code>./_site/</code> in that directory containing the generated files and serve them from <code>localhost:4000</code>.</p>

  <h4>But how do I actually <em>use</em> Serenity?</h4>

    <p>The best way to get aquainted with Serenity is to check out how this site has been made, it's <a href="https://github.com/simontabor/site" target="_blank">all on GitHub</a> so clone and do as you please. There's also some documentation on the <a href="https://github.com/simontabor/serenity" target="_blank">GitHub repo</a> for the module itself.</p> 
</div>
