{
  "layout": "base",
  "title": "About"
}
______

<h2 class="hero">
  <span>About</span>
  <span class="subtitle">Who am I?</span>
</h2>

<div class="mid">
  <p>Founder and CTO at <a href="https://luno.io">Luno.io</a>. Building user systems is hard, and Luno solves that problem by giving you a fully-functional user system in seconds – you just integrate using our API. We're proud to be an <a href="http://ignite100.com/">Ignite</a> company.</p>

  <p>From 2012 to 2015, I worked at GoSquared as a full-stack engineer. I was in charge of the API, user systems, real-time tracking, Redis, MySQL, and internal metrics and reporting. Over 3 years of experience in scalable systems, analytics and user systems has proven to be invaluable. It also highlighted the need for Luno – managing the user systems at GoSquared was a chore that shouldn't have been so time consuming in a team of just 3 developers.</p>

  <p>I'm excited for where Luno will be in a few months time, a years time or even 5 years time, and thrilled to be able to contribute and direct the journey with Robin.</p>
</div>
