{
  "layout": "base",
  "title": "About"
}
______

<h2 class="hero">
  <span>About</span>
  <span class="subtitle">Who am I?</span>
</h2>

<div class="mid">
  <p>I'm Simon, an engineer/developer at <a target="_blank" href="https://gosquared.com">GoSquared</a>, providing real-time analytics for websites. I primarily build Node.js applications, but also fill a DevOps role at times, maintaining AWS instances, using Chef and much more.</p>
  <p>I'm 18, leaving school after my Year 12 AS-Level exams (early summer 2012). I joined GoSquared straight after my exams were finished. My school, St. Olaves Grammar School in Kent, was fantastic but I was bored and lacked motivation.</p>
  <h3>My Story</h3>
  <p>Pretty much all of my story happens in 2012, which was a truly crazy, amazing and busy year.</p>
  <p>In February 2012, I attended Tomorrow's Web, a meetup for people interested in the web. At this point, my experience in development was building a pretty poor website (basic PHP, HTML and CSS) to sell custom built computers, <a target="_blank" href="http://eurekacomputers.co.uk">Eureka Computers</a>. I met Geoff, co-founder and CTO at GoSquared and found that we had a fair amount in common. I ended up going to watch the rugby game with <a target="_blank" href="https://twitter.com/jamesjgill">James</a> and <a target="_blank" href="https://twitter.com/TheDeveloper">Geoff</a> - I was actually a bit starstruck at this stage. On the train home, I asked if I could have some work experience.</p>
  <p>A few weeks later it was half term from school so I had a weeks unpaid work experience where I played with some social analytics prototypes, stopped using Dreamweaver (I thought it was good), started using Sublime Text 2 and basically got pushed into a fantastic developer environment.</p>
  <p>I got along well with the team, so asked if I could come back for two weeks during the Easter holidays. James kindly accepted and I rejoined the team for a second time, learning more and getting an even greater taste for professional programming.</p>
  <p>It was then the exam period, immediately after which I dropped by GoSquared HQ to be welcomed by James asking "have we hired you yet?". I quickly decided that I would actually leave school to work, rather than just wanting to and started working, before even being <em>officially</em> offered a job. I finally built my first Node.js application in June.</p>
  <p>For my past 6 months of employment, I've learned more than I ever did at school in such a short space of time. I feel that's all to do with passion, both from me truly wanting to be a great developer and the passion within the rest of the <a target="_blank" href="https://gosquared.com/about">GoSquared Team</a>. Going from playing around with basic social media analytics to building our <a target="_blank" href="https://www.gosquared.com/blog/introducing-daily-reports">Daily Reports</a> system and <a target="_blank" href="https://engineering.gosquared.com/migrating-mysql-to-amazon-rds">migrating a full production MySQL database to RDS</a> with virtually no downtime.</p>
  <p>That's my story so far, last updated on 30th December 2012 and here's to a year even better than 2012.</p>
</div>
