{
  "layout": "base",
  "title": "Labs"
}
______

<h2 class="hero">
  <span>Labs</span>
</h2>

<div class="mid">
  <ul class="labs">
    <li>
      <a href="/labs/toggles">
        <img src="/img/toggles.png" height="100" width="200">
        <h3>jQuery Toggles</h3>
      </a>
    </li>
    <li>
      <a href="/labs/pw">
        <img src="/img/pw.png" height="100" width="200">
        <h3>PW - Password Generator</h3>
      </a>
    </li>
    <li>
      <a href="/labs/cube">
        <img src="/img/cube.png" height="100" width="200">
        <h3>3D Cube</h3>
      </a>
    </li>
    <!-- <li>
      <a href="/labs/twitter">
        <img src="/img/twitter_followers.png" height="100" width="200">
        <h3>Twitter Mutual Followers</h3>
      </a>
    </li> -->
    <li>
      <a href="/labs/audio">
        <img src="/img/audio.png" height="100" width="200">
        <h3>HTML5 Audio Player</h3>
      </a>
    </li>
    <li>
      <a href="/labs/serenity">
        <img src="/img/serenity.png" height="100" width="200">
        <h3>Serenity - static site generator</h3>
      </a>
    </li>
    <!-- <li>
      <a href="/labs/twitter-stream">
        <img src="/img/twitter_stream.png" height="100" width="200">
        <h3>Twitter Stream for display boards</h3>
      </a>
    </li> -->
  </ul>
</div>
