{
  "layout": "base",
  "title": "jQuery Toggles",
  "scripts": ["/js/lib/toggles-min.js", "/js/toggles.js"],
  "css": ["/css/toggles.css"]
}
______

<div class="hero">
  <h2>jQuery Toggles</h2>
  <h3 class="subtitle">Toggles is a lightweight jQuery plugin that creates easily-styleable toggle buttons.</h3>
  <div class="downloads">
    <a class="min" href="https://raw.github.com/simontabor/jquery-toggles/master/toggles.min.js" target="_blank">
      Download
      <span>Minified - 2.1kb</span>
    </a>
    <a href="https://raw.github.com/simontabor/jquery-toggles/master/toggles.js" target="_blank">or get the unminified JS</a>
  </div>
</div>

<div class="mid">

  <h4>Themes</h4>
  <div class="themes">
    <div class="light">
      <div>
        <h5>Light</h5>
        <div class="toggle"></div>
      </div>
      <a class="theme-download" target="_blank" href="https://raw.github.com/simontabor/jquery-toggles/master/themes/toggles-light.css">Download theme</a>
    </div>
    
    <div class="dark">
      <div>
        <h5>Dark</h5>
        <div class="toggle"></div>
      </div>
      <a class="theme-download" target="_blank" href="https://raw.github.com/simontabor/jquery-toggles/master/themes/toggles-dark.css">Download theme</a>
    </div>
    <div class="iphone">
      <div>
        <h5>iPhone</h5>
        <div class="toggle"></div>
      </div>
      <a class="theme-download" target="_blank" href="https://raw.github.com/simontabor/jquery-toggles/master/themes/toggles-iphone.css">Download theme</a>
    </div>
  </div>


  <h4>Examples</h4>
  <div class="light examples">
    <div class="themeselect">
      <label for="theme">Select Theme: </label>
      <select id="theme">
        <option rel="light">Light</option>
        <option rel="dark">Dark</option>
        <option rel="iphone">iPhone</option>
      </select>
    </div>

    <div class="example">
      <h4>No Click</h4>
      <div class="toggle noclick"></div>
      <code>$('.toggle').toggles({clickable:false});</code>
    </div>

    <div class="example">
      <h4>No Drag</h4>
      <div class="toggle nodrag"></div>
      <code>$('.toggle').toggles({dragable:false});</code>
    </div>

    <div class="example">
      <h4>Clickable Element</h4>
      <div class="clickme"><span style="font-size:13px">Click here!</span> <div rel="clickme" class="toggle"></div></div>
      <code>$('.toggle').toggles({click:$('.clickme')});</code>
    </div>

    <div class="example">
      <h4>Toggle a Checkbox</h4>
      <div class="toggle" data-checkbox="checkme"></div>
      <input type="checkbox" disabled class="checkme">
      <code>$('.toggle').toggles({checkbox:$('.checkme')});</code>
    </div>

    <div class="example">
      <h4>Be Off by Default</h4>
      <div class="toggle off"></div>
      <code>$('.toggle').toggles({on:false});</code>
    </div>

    <div class="example">
      <h4>Custom Text</h4>
      <div class="toggle" data-ontext="HI" data-offtext="BYE"></div>
      <code>$('.toggle').toggles({ontext:'HI',offtext:'BYE'});</code>
    </div>

  </div>
  <div class="license">
    Put a link to my <a href="https://twitter.com/simon_tabor" target="_blank">Twitter</a> or this page if you can while using this plugin. I won't sue you if you don't though - I promise (just don't claim you made it).
  </div>
</div>