{
  "layout": "project",
  "title": "HTML5 Audio Player",
  "scripts": ["/js/lib/modernizr.js","/js/audio.js"],
  "css": ["/css/audio.css"],
  "buttons": {
    "twitter": {
      "url": "/labs/audio",
      "text": "HTML5 Audio Player",
      "hashtags": ["html"]
    },
    "facebook": {
      "url": "/labs/audio"
    }
  }
}
______

<div id="player">
  <div id="playpause"> </div>
  <div id="vol"><input type="range" value="10" id="volume" max="11" min="1" step="0.01"></div>
  <div id="stop" title="Stop"> </div>
  <div id="nowplaying">
    <p class="title"> </p>
    <p class="artist"> </p>
    <p class="album"> </p>
    <img class="art" />
    <p class="year"> </p>
  </div>

  <input type="range" value="0" id="seek" />

  <div id="autoplay" class="active">Autoplay</div>

</div>
<ul id="playlist">
  <li class="songs"><input style="opacity:0" type="file" id="choosefiles" multiple /></li>
</ul>

